:root {
    --container-width: 1300px;

    /* General colors */
    --general-primary: #FFA81D;

    --general-anchor-link: #000;

    --general-light-text: #fff;
    --general-dark-text: #292B20;
}
